body {
    font-family: 'Times New Roman', Times, serif
}
.header{
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.content{
    background-color: blanchedalmond;
    color: blue;
    text-align: center;
}

.product{
    background-color: blueviolet;
    color: beige;
    text-align: center;
}
